/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02.11.2015, 0:20:44
    Author     : anastasia
*/

body {
    padding-top: 80px;

    background-image: url('../Pictures/background-texture-blue.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.btn-group-au 
{
    background-color: #A41616;
    background-image: linear-gradient(to bottom, #297EAD, #113D41);
    height:50px;

    border: medium none;
}
.hero-unit {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.hero-unit h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color: inherit;
}

.hero-unit p {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
}
.navbar-inverse {
    background-color: #A41616;
    background-image: linear-gradient(to bottom, #297EAD, #113D41);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: medium none;
}

.navbar-inverse .navbar-brand:focus {
    color: #FFF;
    background-color: #000;
    background-image: linear-gradient(to bottom, #6AC0F0, #13545A);
}
footer {
    background-color: transparent;
    padding: 40px;
    min-height: 1px;
    margin-top:60px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.7), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.row {
    margin-left: -20px;
}

.span4 {
    width: 560px;
    background-color: #eeeeee;
    float: left;
    padding: 10px;
    min-height: 1px;
    margin-left: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.span3 {
    padding: 40px;
    margin-bottom: 40px;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.span5 {
    padding: 10px;
    background-color: #eeeeee;
    width: 300px;
}

.span6 {
    padding: 40px;
    margin-bottom: 40px;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.span-reg {
    width: 49%;
    height:77%;
    background-color: #eeeeee;
    float: left;
    padding: 10px;
    margin-left: 1%;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
   label {
        font-size:17px;
        
    }
    form-control {
        width: 90%;
    }

    
}


.navbar-inverse .navbar-nav {
    color: #E3E3E3;
}

.navbar-inverse .navbar-nav > li > a {
    color: #E0E0E0;
}

label.error {
    color:red;
    display:block;
    width: 450px;
    height: 18px;
    padding-left:16px;
    background: transparent url('../Pictures/cross.png') no-repeat scroll 0% 0%;
}

label.valid {
    display: block;
    width: 450px;
    height: 18px;
    padding-left:16px;
    background: transparent url('../Pictures/true.gif') no-repeat scroll 0% 0%;
}

.span6 {
    padding: 40px;
    margin-bottom: 40px;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-left: 8%;
    margin-right: 8%;
}

.pstrength-minchar {
font-size : 8px;
height:10px;
}

.editable, 
.editable_select, 
.editable_contact, 
.editable_address,
.editable_room 
{
     display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border: 1px solid #656F7E;
  border-radius: 4px;
  background-color:#fff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.editable:hover,
.editable_select:hover,
.editable_contact:hover,
.editable_address:hover,
.editable_room:hover
{
background:url('../Pictures/edit.png') right no-repeat #80C8E5;
cursor:pointer;
 display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}




.editable > form > input,
.editable_address > form > select,
.editable_select > form > select,
.editable_contact > form > input,
.editable_room >form > input
{

 display: block;
  width: 100%;
  height: 24px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border-radius: 6px;
  
  
}



    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
    
       #upload{
  margin:10px 30px; padding:10px;
  font-weight:bold; font-size:12px;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  background:#f2f2f2;
  color:#3366cc;
  border:1px solid #ccc;
  width:140px;
  cursor:pointer !important;
  -moz-border-radius:5px; -webkit-border-radius:5px;
}
.darkbg{
  background:#ddd !important;
}
#status{
  font-family:Arial; padding:5px;
}
ul#files{ list-style:none; padding:0; margin:0; }
ul#files li{ padding:10px; margin-bottom:2px; width:200px; float:left; margin-right:10px;}
ul#files li img{ max-width:160px; max-height:150px; }
.success{}
