.dropdown {
	color: #555;
	position: relative;
	min-height: 17px;
	text-align:left;
}
div.submenu
{
	margin-top:10px;
	background: #fff;
	position: absolute;
	top: 38px;
	right: 10px;
	z-index: 100;
	width: 135px;
	display: none;
	border-radius: 6px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.root  li a {
	color: #555555;
	display: block;
	padding: 6px 15px;
	cursor: pointer;
	text-decoration:none;
}

.root li a:hover{
    background:#599bdc;
    text-decoration: none;
	color: #fff;
}

#logout_btn {
	color: #a00;
	background:#fff;
	display: block;
	padding: 6px 15px;
	cursor: pointer;
	text-decoration:none;
	border:0px;
	text-align: justify;
	width: 100%;
}

#logout_btn:hover {
    background:#dc817d;
    text-decoration: none;
	color: #fff;
}

a.account {
	z-index: 110;
        cursor: pointer;
}

.root
{
	list-style:none;
	margin:0px;
	padding:0px;
	border-top:1px solid #dedede;
}